<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="nodejs-mobile-cordova"
      version="0.1.4">

  <name>Node.js Mobile</name>
  <description>Node.js for Mobile Apps Cordova Plugin</description>
  <license>MIT</license>
  <keywords>cordova,mobile,nodejs,node.js</keywords>

  <engines>
    <engine name="cordova-android" version=">=6.2.1"/>
    <engine name="cordova-ios" version=">=4.4.0"/>
   </engines>

  <js-module src="www/nodejs_apis.js" name="nodejs">
    <clobbers target="nodejs" />
  </js-module>

  <!-- ios -->
  <platform name="ios">

    <hook type="before_plugin_install" src="install/hooks/ios/before-plugin-install.js" />
    <hook type="after_plugin_install" src="install/hooks/ios/after-plugin-install.js" />
    <hook type="before_plugin_uninstall" src="install/hooks/ios/before-plugin-uninstall.js" />
    <hook type="after_prepare" src="install/hooks/both/after-prepare-patch-npm-packages.js" />

    <config-file target="config.xml" parent="/*">
      <feature name="NodeJS">
        <param name="ios-package" value="CDVNodeJS" />
        <param name="onload" value= "true" />
      </feature>
    </config-file>

    <header-file src="src/ios/CDVNodeJS.hh" />
    <source-file src="src/ios/CDVNodeJS.mm" />
    <header-file src="src/common/cordova-bridge/cordova-bridge.h" />
    <source-file src="src/common/cordova-bridge/cordova-bridge.cpp" />
    <header-file src="src/ios/NodeJSRunner.hh" />
    <source-file src="src/ios/NodeJSRunner.mm" />
    <header-file src="libs/ios/nodemobile/include" />

    <asset src="install/nodejs-mobile-cordova-assets" target="nodejs-mobile-cordova-assets" />

    <framework src="libs/ios/nodemobile/NodeMobile.framework" custom="true" embed="true" />
    <framework src="libs/ios/nodemobile/NodeMobile.framework" />

  </platform>

  <!-- android -->
  <platform name="android">

    <hook type="before_plugin_install" src="install/hooks/android/before-plugin-install.js" />
    <hook type="after_prepare" src="install/hooks/android/after-prepare-build-node-assets-lists.js" />
    <hook type="after_prepare" src="install/hooks/both/after-prepare-patch-npm-packages.js" />
    <hook type="after_prepare" src="install/hooks/android/after-prepare-create-macOS-builder-helper.js" />

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="NodeJS">
        <param name="android-package" value="com.janeasystems.cdvnodejsmobile.NodeJS" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </config-file>

    <edit-config file="AndroidManifest.xml" target="/manifest/uses-sdk" mode="merge">
      <uses-sdk android:minSdkVersion="21" />
    </edit-config>

    <source-file src="src/android/java/com/janeasystems/cdvnodejsmobile/NodeJS.java" target-dir="src/com/janeasystems/cdvnodejsmobile/" />

    <source-file src="src/common/cordova-bridge/cordova-bridge.h" target-dir="src/com/janeasystems/cdvnodejsmobile/jni/" />
    <source-file src="src/common/cordova-bridge/cordova-bridge.cpp" target-dir="src/com/janeasystems/cdvnodejsmobile/jni/" />
    <source-file src="src/android/jni/native-lib.cpp" target-dir="src/com/janeasystems/cdvnodejsmobile/jni/" />

    <source-file src="libs/android/libnode/" target-dir="src/com/janeasystems/cdvnodejsmobile/jni/" />

    <source-file src="install/nodejs-mobile-cordova-assets/" target-dir="assets/" />

    <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    <source-file src="src/android/CMakeLists.txt" target-dir="src/com/janeasystems/cdvnodejsmobile/jni/"/>

  </platform>

</plugin>
