<html>
  <head>
      <meta charset="utf-8" />
      <title>Test NodeJS Mobile App</title>
      <meta http-equiv="Content-Security-Policy"
      content="connect-src * ws://* wss://* blob:;
               script-src 'self'
                           'unsafe-inline'
                           'unsafe-eval';
               style-src 'self' 'unsafe-inline';
               img-src 'self' data: blob:;
               font-src 'self';
               object-src 'none';
               frame-src gap://ready;
               child-src gap://ready;">
      <meta name="format-detection" content="telephone=no">
      <meta name="msapplication-tap-highlight" content="no">
      <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
      <!-- STYLES -->
      <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css"  href="css/index.css">
      <link rel="stylesheet" type="text/css"  href="css/styles.css">
    </head>
  <body>
    <div class="page-content" ng-app="example.nodejsmobile.app">
      <div class="container-fluid">
        <div class="row row-padded">
          <div class="col-xs-12"><h1>{{title}}</h1></div>
        </div>
        <div class="row row-padded">
          <div class="col-xs-4">
            <button ng-click="doHttp()" class="btn-md btn-default">Do HTTP<br><span class="fa fa-fw fa-send"></span></button>
          </div>
          <div class="col-xs-4">
            <button ng-click="doStart()" class="btn-md btn-default">Start Socket<br><span class="fa fa-fw fa-play"></span></button>
          </div>
          <div class="col-xs-4">
            <button ng-click="doStop()" class="btn-md btn-default">Stop Socket<br><span class="fa fa-fw fa-stop"></span></button>
          </div>
        </div>
        <div class="row row-padded">
          <div class="col-xs-4">
            <button ng-click="clearLog()" class="btn-md btn-default">Clear Log<br><span class="fa fa-fw fa-window-close"></span></button>
          </div>
          <div class="col-xs-4">
            <button ng-click="sendEcho()" class="btn-md btn-default">Echo<br><span class="fa fa-fw fa-comments-o"></span></button>
          </div>
          <div class="col-xs-4">
            <button ng-click="toggleEcho()" class="btn-md btn-default">Toggle Echo<br><span class="fa fa-fw fa-toggle-on"></span></button>
          </div>
        </div>
        <div class="row row-padded">
          <div class="col-xs-4">
            <button ng-click="doFileWrite()" class="btn-md btn-default">Write a File<br><span class="fa fa-fw fa-file"></span></button>
          </div>
          <div class="col-xs-4">
            <button ng-click="addAnotherEchoListener()" class="btn-md btn-default">Add Listener<br><span class="fa fa-fw fa-plus"></span></button>
          </div>
          <div class="col-xs-4">
            <button ng-click="removeAnotherEchoListener()" class="btn-md btn-default">Del Listener<br><span class="fa fa-fw fa-minus"></span></button>
          </div>
        </div>
        <div class="row row-padded">
          <div class="col-xs-4">
            <button ng-click="loadAllDependencies()" class="btn-md btn-default">Load Deps<br><span class="fa fa-fw fa-cogs"></span></button>
          </div>
          <div class="col-xs-4">
            <button ng-click="testMessageTypesSent()" class="btn-md btn-default">Types sent<br><span class="fa fa-fw fa-envelope-square"></span></button>
          </div>
          <div class="col-xs-4">
            <button ng-click="testMessageTypesReceived()" class="btn-md btn-default">Types rcvd<br><span class="fa fa-fw fa-envelope-square"></span></button>
          </div>
        </div>
      <div class="row row-padded">
          <div class="col-xs-12">
            <div ng-repeat="msg in debugMessages">{{msg}}</div>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="cordova.js"></script>
      <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
      <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
      <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
      <script type="text/javascript" src="dist/socket.io.js"></script>
      <script type="text/javascript" src="app/app.js"></script>
    </div>
  </body>
</html>
